[submodule "lib/mini-printf"]
	path = lib/mini-printf
	url = git@github.com:mludvig/mini-printf.git
[submodule "lib/spiffs"]
	path = lib/spiffs
	url = git@github.com:pellepl/spiffs.git
[submodule "lib/pcg-cpp"]
	path = lib/pcg-cpp
	url = git@github.com:imneme/pcg-cpp.git
